<div class="row">
  <div class="col-sm-12">
    <form class="form-group">
        <label>Ingredience Name</label>
        <input type="text" class="form-control" #ingredientName>
        <label >Ammount</label>
        <input type="text" class="form-control" #ammount> <br>
        <button type="button" class="btn btn-primary" 
        (click)=getIngredienceSubmitedData(ingredientName,ammount);>Submit</button>
      </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-list-ingredient 
      *ngFor = "let ingredient of ingrediences"
      [ingredienceData] = "ingredient"
      ></app-list-ingredient>      
    </div>
  </div>
</div>
