.addForm{
    border: 1px solid rgb(227, 227, 227);
    padding: 8px;
    
}
.addForm input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.addForm textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}