<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit) = "saveIngredients(ingredForm);" #ingredForm = "ngForm">
      <div class="form-group">
        <label>Ingredient Name</label>
        <input
          ngModel
          name= "name" 
          type="text" 
          class="form-control"
          #name ="ngModel"
          required>
          <p *ngIf= "!name.valid && name.touched" style="color:red">Please Enter Ammount</p>
        <label>Ammount</label>
        <input 
          ngModel
          name= "ammount"
          type="number" 
          pattern = "[1-9][0-9]{0,4}"
          class="form-control"
          #ammount= "ngModel"
          required>
          <p *ngIf= "!ammount.valid && ammount.touched" style="color:red">Please Enter Proper Ammount</p>
        <br>
        <button 
          type="submit" 
          class="btn btn-success" 
          [disabled] = "!ingredForm.valid"
          >
            Add Items
        </button>
        <button 
          type="button" 
          class="btn btn-danger" 
          *ngIf = "showDelete"
          (click) = "deleteIngredient()">
            Delete
          </button>
        <button 
          type="button" 
          class="btn btn-primary" 
          (click)= "clearAll()">
            Clear
          </button>
      </div>
    </form>
  </div>
  <app-ingredient-list 
    *ngFor = "let ingredient of ingredients let i = index"
    [ingredient] = "ingredient"
    (click) = "selectEachIngredient(ingredient, i)"
    style="cursor: pointer"
    >    
  </app-ingredient-list>
</div>
