.panelBody{
    border: 1px solid grey;
    padding: 20px;
    min-height: 100px;
    background: #155b5f;
}
.left{
    float: left;
    max-width: 350px;
}
.right{
    float: right;
}
.recipeName{
    font-size: 25px;
    color: #f2f2f2;
    font-family: cursive;
}
.description{
    font-weight: bold;
    font-family: cursive;
    color: #f2f2f2
}