<div class="row">
  <div class="col-sm-12">
    <div class="form-group formStructure">
      <label for=""><b>Recipe Name</b></label>
      <input type="text" class="form-control" #name>
      <label for=""><b>Recipe Description</b></label>
      <textarea type="text" class="form-control" #description></textarea>
      <label for=""><b>Image Url</b></label>
      <input type="text" class="form-control" #url> <br>
      <button class="btn btn-primary" (click)=submitRecipe(name,description,url)>Submit</button>
      <button class="btn btn-success" (click)=cancel() style="margin-left:10px;">Cancel</button>
    </div> 
  </div>
</div>